html, body {
    width: 100vw;
    height: 100vh;
}
body {
    background: #666;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.help-button {
    font-size: x-large;
    position: absolute;
    top: .125em;
    right: .125em;
    padding: .25em .5em;
    border-radius: 0 0 0 20px;
    background-color: #fff;
    border-color: #000;
    cursor: help;
}
.help-button:hover {
    background-color: #3ff;
}
