html, body {
    width: 100vw;
    height: 100vh;
}
body {
    background: #666;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
